<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="katrasnik.marko.awtest">

    <uses-permission android:name="com.aware.READ_CONTEXT_DATA" />
    <uses-permission android:name="com.aware.WRITE_CONTEXT_DATA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <!-- Support for Sync Adapters -->
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <!-- Permissions to safeguard data collection quality -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon, android:theme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.aware.ui.PermissionsHandler"
            android:launchMode="standard"
            tools:replace="android:launchMode" />

        <service
            android:name="com.aware.Applications"
            android:enabled="@bool/accessibility_access"
            android:exported="true"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            tools:replace="android:enabled">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
                <category android:name="android.accessibilityservice.category.FEEDBACK_GENERIC" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/aware_accessibility_config" />
        </service>

        <receiver android:name=".MainActivity$ContextReceiver" android:exported="true">
            <intent-filter>
                <action android:name="ACTION_AWARE_PLUGIN_YOUR_RECEIVER_TRIGGER"></action>
            </intent-filter>
        </receiver>

        <provider
            android:name="com.aware.providers.Scheduler_Provider"
            android:authorities="${applicationId}.provider.scheduler"
            android:exported="true"
            android:readPermission="com.aware.READ_CONTEXT_DATA"
            android:writePermission="com.aware.WRITE_CONTEXT_DATA" />
        <provider
            android:name="com.aware.providers.Bluetooth_Provider"
            android:authorities="${applicationId}.provider.bluetooth"
            android:exported="true"
            android:label="@string/sensor_bluetooth"
            android:readPermission="com.aware.READ_CONTEXT_DATA"
            android:syncable="true"
            android:writePermission="com.aware.WRITE_CONTEXT_DATA" />
        <provider
            android:name="com.aware.providers.Applications_Provider"
            android:authorities="${applicationId}.provider.applications"
            android:exported="true"
            android:label="@string/sensor_applications"
            android:readPermission="com.aware.READ_CONTEXT_DATA"
            android:syncable="true"
            android:writePermission="com.aware.WRITE_CONTEXT_DATA" />
        <provider
            android:name="com.aware.providers.Locations_Provider"
            android:authorities="${applicationId}.provider.locations"
            android:exported="true"
            android:label="@string/sensor_locations"
            android:readPermission="com.aware.READ_CONTEXT_DATA"
            android:syncable="true"
            android:writePermission="com.aware.WRITE_CONTEXT_DATA" />
        <provider
            android:name="com.aware.providers.Installations_Provider"
            android:authorities="${applicationId}.provider.installations"
            android:exported="true"
            android:label="@string/sensor_installations"
            android:readPermission="com.aware.READ_CONTEXT_DATA"
            android:syncable="true"
            android:writePermission="com.aware.WRITE_CONTEXT_DATA" />
        <provider
            android:name="com.aware.providers.ESM_Provider"
            android:authorities="${applicationId}.provider.esm"
            android:exported="true"
            android:label="@string/sensor_esms"
            android:readPermission="com.aware.READ_CONTEXT_DATA"
            android:syncable="true"
            android:writePermission="com.aware.WRITE_CONTEXT_DATA" />
        <provider
            android:name="com.aware.providers.Temperature_Provider"
            android:authorities="${applicationId}.provider.temperature"
            android:exported="true"
            android:label="@string/sensor_temperature"
            android:readPermission="com.aware.READ_CONTEXT_DATA"
            android:syncable="true"
            android:writePermission="com.aware.WRITE_CONTEXT_DATA" />
        <provider
            android:name="com.aware.providers.Linear_Accelerometer_Provider"
            android:authorities="${applicationId}.provider.accelerometer.linear"
            android:exported="true"
            android:label="@string/sensor_linear_accelerometer"
            android:readPermission="com.aware.READ_CONTEXT_DATA"
            android:syncable="true"
            android:writePermission="com.aware.WRITE_CONTEXT_DATA" />
        <provider
            android:name="com.aware.providers.Gravity_Provider"
            android:authorities="${applicationId}.provider.gravity"
            android:exported="true"
            android:label="@string/sensor_gravity"
            android:readPermission="com.aware.READ_CONTEXT_DATA"
            android:syncable="true"
            android:writePermission="com.aware.WRITE_CONTEXT_DATA" />
        <provider
            android:name="com.aware.providers.Barometer_Provider"
            android:authorities="${applicationId}.provider.barometer"
            android:exported="true"
            android:label="Barometer"
            android:readPermission="com.aware.READ_CONTEXT_DATA"
            android:syncable="true"
            android:writePermission="com.aware.WRITE_CONTEXT_DATA" />
        <provider
            android:name="com.aware.providers.Magnetometer_Provider"
            android:authorities="${applicationId}.provider.magnetometer"
            android:exported="true"
            android:label="@string/sensor_magnetometer"
            android:readPermission="com.aware.READ_CONTEXT_DATA"
            android:syncable="true"
            android:writePermission="com.aware.WRITE_CONTEXT_DATA" />
        <provider
            android:name="com.aware.providers.Proximity_Provider"
            android:authorities="${applicationId}.provider.proximity"
            android:exported="true"
            android:label="@string/sensor_proximity"
            android:readPermission="com.aware.READ_CONTEXT_DATA"
            android:syncable="true"
            android:writePermission="com.aware.WRITE_CONTEXT_DATA" />
        <provider
            android:name="com.aware.providers.Light_Provider"
            android:authorities="${applicationId}.provider.light"
            android:exported="true"
            android:label="@string/sensor_light"
            android:readPermission="com.aware.READ_CONTEXT_DATA"
            android:syncable="true"
            android:writePermission="com.aware.WRITE_CONTEXT_DATA" />
        <provider
            android:name="com.aware.providers.Telephony_Provider"
            android:authorities="${applicationId}.provider.telephony"
            android:exported="true"
            android:label="@string/sensor_telephony"
            android:readPermission="com.aware.READ_CONTEXT_DATA"
            android:syncable="true"
            android:writePermission="com.aware.WRITE_CONTEXT_DATA" />
        <provider
            android:name="com.aware.providers.Aware_Provider"
            android:authorities="${applicationId}.provider.aware"
            android:exported="true"
            android:label="@string/sensor_aware"
            android:readPermission="com.aware.READ_CONTEXT_DATA"
            android:syncable="true"
            android:writePermission="com.aware.WRITE_CONTEXT_DATA" />
        <provider
            android:name="com.aware.providers.Rotation_Provider"
            android:authorities="${applicationId}.provider.rotation"
            android:exported="true"
            android:label="@string/sensor_rotation"
            android:readPermission="com.aware.READ_CONTEXT_DATA"
            android:syncable="true"
            android:writePermission="com.aware.WRITE_CONTEXT_DATA" />
        <provider
            android:name="com.aware.providers.WiFi_Provider"
            android:authorities="${applicationId}.provider.wifi"
            android:exported="true"
            android:label="@string/sensor_wifi"
            android:readPermission="com.aware.READ_CONTEXT_DATA"
            android:syncable="true"
            android:writePermission="com.aware.WRITE_CONTEXT_DATA" />
        <provider
            android:name="com.aware.providers.Accelerometer_Provider"
            android:authorities="${applicationId}.provider.accelerometer"
            android:exported="true"
            android:label="@string/sensor_accelerometer"
            android:readPermission="com.aware.READ_CONTEXT_DATA"
            android:syncable="true"
            android:writePermission="com.aware.WRITE_CONTEXT_DATA" />
        <provider
            android:name="com.aware.providers.Gyroscope_Provider"
            android:authorities="${applicationId}.provider.gyroscope"
            android:exported="true"
            android:label="@string/sensor_gyroscope"
            android:readPermission="com.aware.READ_CONTEXT_DATA"
            android:syncable="true"
            android:writePermission="com.aware.WRITE_CONTEXT_DATA" />
        <provider
            android:name="com.aware.providers.Traffic_Provider"
            android:authorities="${applicationId}.provider.traffic"
            android:exported="true"
            android:label="@string/sensor_traffic"
            android:readPermission="com.aware.READ_CONTEXT_DATA"
            android:syncable="true"
            android:writePermission="com.aware.WRITE_CONTEXT_DATA" />
        <provider
            android:name="com.aware.providers.Mqtt_Provider"
            android:authorities="${applicationId}.provider.mqtt"
            android:exported="true"
            android:readPermission="com.aware.READ_CONTEXT_DATA"
            android:writePermission="com.aware.WRITE_CONTEXT_DATA" />
        <provider
            android:name="com.aware.providers.Processor_Provider"
            android:authorities="${applicationId}.provider.processor"
            android:exported="true"
            android:label="@string/sensor_processor"
            android:readPermission="com.aware.READ_CONTEXT_DATA"
            android:syncable="true"
            android:writePermission="com.aware.WRITE_CONTEXT_DATA" />
        <provider
            android:name="com.aware.providers.TimeZone_Provider"
            android:authorities="${applicationId}.provider.timezone"
            android:exported="true"
            android:label="@string/sensor_timezone"
            android:readPermission="com.aware.READ_CONTEXT_DATA"
            android:syncable="true"
            android:writePermission="com.aware.WRITE_CONTEXT_DATA" />
        <provider
            android:name="com.aware.providers.Battery_Provider"
            android:authorities="${applicationId}.provider.battery"
            android:exported="true"
            android:label="@string/sensor_battery"
            android:readPermission="com.aware.READ_CONTEXT_DATA"
            android:syncable="true"
            android:writePermission="com.aware.WRITE_CONTEXT_DATA" />
        <provider
            android:name="com.aware.providers.Screen_Provider"
            android:authorities="${applicationId}.provider.screen"
            android:exported="true"
            android:label="@string/sensor_screen"
            android:readPermission="com.aware.READ_CONTEXT_DATA"
            android:syncable="true"
            android:writePermission="com.aware.WRITE_CONTEXT_DATA" />
        <provider
            android:name="com.aware.providers.Network_Provider"
            android:authorities="${applicationId}.provider.network"
            android:exported="true"
            android:label="@string/sensor_network_usage"
            android:readPermission="com.aware.READ_CONTEXT_DATA"
            android:syncable="true"
            android:writePermission="com.aware.WRITE_CONTEXT_DATA" />
        <provider
            android:name="com.aware.providers.Communication_Provider"
            android:authorities="${applicationId}.provider.communication"
            android:exported="true"
            android:label="@string/sensor_communications"
            android:readPermission="com.aware.READ_CONTEXT_DATA"
            android:syncable="true"
            android:writePermission="com.aware.WRITE_CONTEXT_DATA" />
        <provider
            android:name="com.aware.providers.Keyboard_Provider"
            android:authorities="${applicationId}.provider.keyboard"
            android:exported="true"
            android:label="@string/sensor_keyboard"
            android:readPermission="com.aware.READ_CONTEXT_DATA"
            android:syncable="true"
            android:writePermission="com.aware.WRITE_CONTEXT_DATA" />


        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider.storage"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <provider
            android:name="com.aware.plugin.device_usage.Provider"
            android:authorities="${applicationId}.provider.device_usage"
            android:exported="true"
            android:label="@string/plugin_device_usage"
            android:readPermission="com.aware.READ_CONTEXT_DATA"
            android:syncable="true"
            android:writePermission="com.aware.WRITE_CONTEXT_DATA" />



    </application>

</manifest>